@using TikTokCalendar.DAL
@model TikTokCalendar.DAL.ModelDataWrapper
@{
    var EUSH = new EventUserStatHandler();
    var cookie = new Cookies();
    string username = cookie.LoadStringFromCookie("UserName");

    var howMany = EUSH.GetUsersGoing(Model.eventID);

    string pressed = "";
    var names = 0;
}
<div style="display: none">
    <!-- this is strange but needed -->

    <script>
        $(function() {
            $('.activator.usersgoing')
                .BAToolTip({
                    tipOpacity: 0.9,
                    tipOffset: 20
                });
        })
    </script>

</div>


@if (EUSH.IsUserAttending(Model.eventID, username))
{
    pressed = "color: #373d48"; // true
    <span class="user-going-status" style="@pressed">&#10004;</span>
}
else if (EUSH.IsUserGoing(Model.eventID, username))
{
    pressed = "color: #373d48";
    <input type="hidden" name="eventid" value="@Model.eventID"/>
    <input type="hidden" name="attend" value="false"/>
    <input type="submit" value="@Resources.LocalizedText.NotAttendingButton" class="going-@Model.eventID button not"/>
}
else
{
    <input type="hidden" name="eventid" value="@Model.eventID"/>
    <input type="hidden" name="attend" value="false"/>
    <input type="submit" value="@Resources.LocalizedText.AttendingButton" class="going-@Model.eventID button"/>
}


<!-- hover box displaying users -->
<div class="tip-item">
    <span class="activator usersgoing" style="@pressed"><span class="users-going">@howMany @Resources.LocalizedText.XIsAttendingLabel</span></span>
    <div class="tip usersgoing">
        <span class="tip-checkin no-linebreak">@EUSH.GetUsersAttending(Model.eventID)/@howMany @Resources.LocalizedText.CheckedInToOngoing</span>
        @foreach (var eus in Model.eventUserStats)
        {
            if (eus.EventID == Model.eventID)
            {
                <span class="no-linebreak">
                    @if (EUSH.IsUserAttending(Model.eventID, eus.UserName))
                    {
                        <text>&#10004;</text>
                    }
                    @if (eus.UserName == username)
                    {
                        <b>@eus.UserName<br /></b>
                    }
                    else
                    {
                        @eus.UserName<br />
                    } 
                </span>
                names++;
            }
            if (names >= 24)
            {
                <b class="tip-others no-linebreak">@Resources.LocalizedText.AndX @(howMany - names) @Resources.LocalizedText.XOthers</b>
                break;
            }
        }
    </div>
</div>