@*@model IEnumerable<TikTokCalendar.Models.CalendarEvent>*@
@*@model IEnumerable<IEnumerable<TikTokCalendar.Models.CalendarEvent>>*@
@*@model IEnumerable<TikTokCalendar.DAL.EventMonth>*@
@model TikTokCalendar.DAL.ModelDataWrapper

@{
    //ViewBag.Title = "TikTok";
    //ViewBag.Title = Model.ToString();

    TimeLeft TimeLeft = new TimeLeft();
    // Various flags to get code to be written only once and at the right place in foreach loop
    bool flag1 = false;
    bool flag2 = false;
    bool flag3 = false;
    bool flag4 = false;
    bool flag5 = false;
}

    <!-- Holds global settings and spans the entire page   -->
    <main>

        <!-- tooltip hover plugin initialization -->
        <script type="text/javascript">
			jQuery(function () {
				jQuery('.activator.tip-specific-class').BAToolTip({
					tipOpacity: 0.9,
					tipOffset: 20
				});
			})
		</script>

        <div class="main-body">

                @foreach (var month in Model.calEvents)
                {
                    if (month.Events.Count <= 0)
                    {
                        continue;
                    }
                    var className = "month-month";

					<!-- Displays the month name -->
					//<a class="btn btn-default" data-toggle="collapse" data-target="#@month.GetMonthId()">lukk mnd</a>

                    {
                        var weekOrMonth = month.GetMonthName();

                        if (weekOrMonth[0] == 'U')
                        {
                            className = "week";
                        }
                    }

                    <a class="feed-month @className" data-toggle="collapse" data-target="#@month.GetMonthId()">
                        <p class="month">@month.GetMonthName()</p>  <!-- August -->
                    </a>

                    <!-- Container for an entire month of events -->
                    <div class="feed collapse in" id="@month.GetMonthId()">

                        @foreach (var item in month.Events)
                        {
							<a class="feed-container" data-toggle="modal" data-target="#@item.ID">

								<!-- Container for the event content -->
                                <div class="content">

                                    <!-- Container for the top row -->
                                    <div class="class-info">
                                        <div class="class-date">
                                            <p class="date-number">@item.StartTime.Day</p>  <!-- 17 -->
                                        </div>
                                        <!-- tooltip hover extravaganza -->
                                        <div class="tip-item">
                                            <p class="name activator tip-specific-class">@item.GetEventNameWithoutSubjectCode()</p>  <!-- "Grensesnittdesign" -->
                                            @{
                                                string timeLeft = TimeLeft.GetTimeLeft(item.StartTime);
                                            }
                                            @if (timeLeft != ""){
                                                if (flag1)
                                                {
                                                <div class="tip tip-specific-class">@timeLeft</div>
                                                }
                                                if (!flag2 && !flag5)
                                                {

                                                    if (item.StartTime < DateTime.Now.AddHours(24))
                                                    {
                                                        if (item.StartTime < DateTime.Now.AddHours(1))
                                                        {
                                                            flag2 = true;
                                                        }
                                                        else
                                                        {
                                                            flag4 = true;
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="right-position">
                                            <p class="room">@item.RoomName</p>  <!-- "Rom 41" -->
                                        </div>
                                    </div>

                                    <!-- Container for bottom row -->
                                    <div class="time-info">
                                        <div class="left-position">
                                            <!-- Date and time  -->
                                            <p class="time"><strong>&nbsp;@item.GetDayOfWeek()</strong>, @item.GetTimeSlot()
                                            @if (DateTime.Now > item.StartTime && DateTime.Now < item.EndTime)
                                            {
                                                <b>&nbsp;|&nbsp;&nbsp;</b><span class="ongoing">Pågår</span>
                                            }
                                            @if (flag2 && !flag3)
                                            {
                                                <!-- real time countdown script -->
                                                <script>
                                                    $(function () {
                                                        var date = new Date();
                                                        date = new Date(@item.StartTime.Year , @item.StartTime.AddMonths(-1).Month , @item.StartTime.Day , @item.StartTime.Hour , @item.StartTime.Minute , @item.StartTime.Second );
                                                        $('.countdown').countdown({until: date, compact: true,
                                                            layout: '&nbsp;{hnn}{sep}{mnn}{sep}{snn}'});
                                                    });
                                                </script>
                                                <span>&nbsp;|</span>
                                                <span class="countdown"></span>
                                                flag1 = true;
                                                flag3 = true;
                                            }
                                            @if (flag4)
                                            {
                                                <b>&nbsp;|&nbsp;&nbsp;</b><span class="countdown">@timeLeft</span>
                                                flag1 = true;
                                                flag4 = false;
                                                flag5 = true;
                                            }
                                            </p>
                                        </div>

                                        <!-- Icon displaying "..."  -->
                                        @*<i class="fa fa-ellipsis-h fa-2x"></i>*@

										@{ 
											var r = new Random();
											var randomNumber = r.Next(20);
										}
										<i class="seen-by">Sett av @randomNumber</i>
										
                                    </div>
                                </div>

                                
                        </a>

                        <div class="horizontal-line"></div>
						
						<!-- "More info" modal -->
						<div class="content-hidden modal fade" id="@item.ID" role="dialog">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">

									<!-- Modal header -->
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										@item.GetEventNameWithoutSubjectCode()
									</div>

									<!-- Modal body -->
									<div class="modal-body">
										<p>
											<strong>Tid:</strong>
											@item.GetDayOfWeek(), @item.GetTimeSlot()
										</p>
										<p>
											<strong>Attendees:</strong>
											@item.Attendees
										</p>
										<p>
											<strong>EventName:</strong>
											@item.EventName
										</p>
										<p>
											<strong>Uke:</strong>
											@item.GetWeekNumber()
										</p>
										<p>
											<strong>Rom:</strong>
											@item.RoomName
										</p>
										<p>
											<strong>Lærer:</strong>
											@item.Teacher
										</p>
										<p>
											<strong>Kommentar:</strong>
											@item.Comment
										</p>
									</div>
								</div>
							</div>
						</div>
						
						}
                 </div>
                }
         </div>
 </main>