@model TikTokCalendar.DAL.ModelDataWrapper

@{

    TimeLeft TimeLeft = new TimeLeft();
    EventUserStatHandler EUSH = new EventUserStatHandler();
    TikTokCalendar.DAL.Cookies cookie = new TikTokCalendar.DAL.Cookies();
    // Various flags to get code to be written only once
    // and at the right place in our huge nested foreach loop
    bool flag1 = false;
    bool flag2 = false;
    bool flag3 = false;
    bool flag4 = false;
    bool flag5 = false;
}
@if (Request.Browser.IsMobileDevice)
{
    Response.Redirect("~/Home/Mobile.cshtml");
}
else
{
    // for desktop
}
<!-- Go to current month -->
<script>
$(function() {
    $(document).scrollTop( $("#goto-@DateTime.Now.Month").offset().top );
});
</script>

<!-- Holds global settings and spans the entire page   -->
<main>
    <div class="main-body">

        <!-- Looping throught every month -->
        @foreach (var month in Model.Months)
        {
            var isCollapsed = "in";
            if (month.MonthNumber < DateTime.Now.Month)
            {
                isCollapsed = ""; // true
            }
            <div class="goto" id="goto-@month.MonthNumber"></div>
            <!-- Month box e.g. "August" -->
            <a class="feed-month" data-toggle="collapse" data-target="#month-@month.MonthNumber">

				<span class="badge badge-exam pull-right">@month.GetEventTypeCount(TikTokCalendar.Models.EventType.Eksamen)</span>
				<span class="badge badge-assignment pull-right">@month.GetEventTypeCount(TikTokCalendar.Models.EventType.Innlevering)</span>
				<span class="badge badge-lecture pull-right">@month.GetEventTypeCount(TikTokCalendar.Models.EventType.Forelesning)</span>

                <p class="month">
					@month.GetMonthName()
				</p>
				
            </a>
            <!-- Container for an entire month of events -->
            <div class="feed collapse @isCollapsed" id="month-@month.MonthNumber">

                <!-- Looping throught every week -->
                @foreach (var week in month.Weeks)
                {

                    if (week.events.Count <= 0)
                    {
                        continue;
                    }

                    <!-- Week box e.g. "Uke 2" -->
                    <div class="week-header">@week.WeekName</div>
                    <div class="feed-week">

                        <!-- Looping throught every events -->
                        @foreach (var item in week.events)
                        {
                            // eventually limit the number of weeks for going/check-in to show here:
                            //if (DateTime.Now > item.StartDateTime && DateTime.Now < item.EndDateTime.AddDays(21))
                            //{
                            using (Ajax.BeginForm("UserStatUpdate", "Home", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "going-" + item.ID,
                                InsertionMode = InsertionMode.Replace
                            }))
                            {
                                // Everything in this div is replaced by content in _UserStatUpdate.cshtml on button press
                                    <div class="check-in" style="position:absolute; margin-left: -132px; margin-top: 30px;" id="going-@item.ID">
                                        @if (DateTime.Now > item.StartDateTime && DateTime.Now < item.EndDateTime)
                                        {
                                            if (!EUSH.UserAttending(item.ID, cookie.LoadStringFromCookie("UserName")))
                                            {
                                                <input type="hidden" name="eventid" value="@item.ID" />
                                                <input type="hidden" name="attend" value="true" />
                                                <input type="submit" value="Check-in" />
                                            }
                                            else
                                            {
                                                <strong>Innsjekket &#10004;</strong>
                                            }
                                        }
                                        else
                                        {
                                            if (!EUSH.UserGoing(item.ID))
                                            {
                                                <input type="hidden" name="eventid" value="@item.ID" />
                                                <input type="hidden" name="attend" value="false" />
                                                <input type="submit" value="Skal" />
                                            }
                                            else
                                            {
                                                <strong>Du skal.</strong>
                                            }
                                        }
                                        <div class="tip-item">
                                            @{
                                                var howMany = EUSH.HowManyUsersGoing(item.ID);
                                                var showTip = "hide";
                                                if (howMany > 0)
                                                {
                                                    showTip = ""; // false (hide box if no users to display)
                                                }
                                            }
                                            <span class="activator usersgoing">[@howMany skal]</span>
                                            <div class="tip usersgoing @showTip">
                                                @foreach (var eus in Model.eventUserStats)
                                                {
                                                    if (eus.EventID == item.ID)
                                                    {
                                                        <span class="no-linebreak">
                                                            @if (EUSH.UserAttending(item.ID, eus.UserName))
                                                            {
                                                                <text>&#10004;</text>
                                                            }
                                                            @eus.UserName<br />
                                                        </span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                                    }
                                                //}

                                                var today = "";
                                                if (item.StartDateTime.Date.Equals(DateTime.Now.Date))
                                                {
                                                    today = "today";
                                                }

                            <!-- Link on every event -->
                            <a class="feed-container @today" data-toggle="modal" data-target="#@item.ID">

                                <!-- Container for the event content -->
                                <div class="content">

                                    <!-- Container for the top row -->
                                    <div class="class-info">
                                        <div class="class-date">

                                            <!-- 17 -->
                                            <p class="date-number">@item.StartDateTime.Day</p>  
                                        </div>

                                        <!-- tooltip hover extravaganza -->
                                        <div class="tip-item">

                                            <!-- "Grensesnittdesign" -->
                                            <p class="name activator timeleft">@item.Subject.Name</p>
                                            @{
                                                string timeLeft = TimeLeft.GetTimeLeft(item.StartDateTime);
                                            }
                                            @if (timeLeft != "") {
												if (flag1) {
                                                    <div class="tip timeleft">@timeLeft</div>
												}
												if (!flag2 && !flag5) {

													if (item.StartDateTime < DateTime.Now.AddHours(24)) {
														if (item.StartDateTime < DateTime.Now.AddHours(1)) {
															flag2 = true;
														}
														else {
															flag4 = true;
														}
													}
												}
											}
                                        </div>
                                        <div class="right-position">
                                            @{
                                                var typeClass = "";
												var typeText = "";

												if (item.eventType == TikTokCalendar.Models.EventType.Innlevering) {
													typeClass = "assignment";
													typeText = "Innlevering";
												}
												else if (item.eventType == TikTokCalendar.Models.EventType.Eksamen) {
													typeClass = "exam";
													typeText = "Eksamen";
												}
                                            }

                                            <p class="@typeClass">@typeText</p> <!-- "Forelesning" -->
                                            <p class="room">@item.RoomName</p>  <!-- "Rom 41" -->
                                        </div>
                                    </div>

                                    <!-- Container for bottom row -->
                                    <div class="time-info">
                                        <div class="left-position">
                                            <!-- Date and time  -->
                                            <p class="time">
                                                <strong>&nbsp;@item.GetDayOfWeek()</strong>, @item.GetTimeSlot()
                                                @if (DateTime.Now > item.StartDateTime && DateTime.Now < item.EndDateTime) {
                                                    <b>&nbsp;|&nbsp;&nbsp;</b><span class="ongoing">Pågår</span>
												}
                                                @if (flag2 && !flag3) {
												    
                                                    <!-- real time countdown script -->
                                                    <script>
                                                        $(function () {
                                                            var date = new Date();
                                                            date = new Date(@item.StartDateTime.Year , @item.StartDateTime.AddMonths(-1).Month , @item.StartDateTime.Day , @item.StartDateTime.Hour , @item.StartDateTime.Minute , @item.StartDateTime.Second );
                                                            $('.countdown').countdown({until: date, expiryUrl: ''+window.location.href, compact: true,
                                                                layout: '&nbsp;{hnn}{sep}{mnn}{sep}{snn}' });
                                                        });
                                                    </script>
                                                    <span>&nbsp;|</span>
                                                            <span class="countdown"></span>
                                                    flag1 = true;
													flag3 = true;
												}
                                                @if (flag4) {
                                                    <b>&nbsp;|&nbsp;&nbsp;</b><span class="countdown">@timeLeft</span>

                                                    flag1 = true;
													flag4 = false;
													flag5 = true;

												}
                                            </p>
                                        </div>

                                        <!-- Icon displaying "..."  -->
                                        
                                        @*<i class="seen-by">Sett av @randomNumber</i>*@

										<!-- FLYTT GOING/ATTEND KODEBLOKK NED HIT NÅR EVENT-CLICK ER FIKSA -->
                                        <!-- eventually limit the number of weeks for going/check-in to show here:
                                        if (DateTime.Now > item.StartDateTime && DateTime.Now < item.EndDateTime.AddDays(21))
                                        {-->
                                        @using (Ajax.BeginForm("UserStatUpdate", "Home", new AjaxOptions
                                        {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "going-" + item.ID,
                                        InsertionMode = InsertionMode.Replace
                                        }))
                                        {
                                        // Everything in this div is replaced by content in _UserStatUpdate.cshtml on button press
                                        <div class="check-in" id="going-@item.ID">
                                            @if (DateTime.Now > item.StartDateTime && DateTime.Now < item.EndDateTime)
                                            {
                                                if (!EUSH.UserAttending(item.ID, cookie.LoadStringFromCookie("UserName")))
                                                {
                                                    <input type="hidden" name="eventid" value="@item.ID" />
                                                    <input type="hidden" name="attend" value="true" />
                                                    <input type="submit" value="Check-in" />
                                                }
                                                else
                                                {
                                                    <strong>Innsjekket &#10004;</strong>
                                                }
                                            }
                                            else
                                            {
                                                if (!EUSH.UserGoing(item.ID))
                                                {
                                                    <input type="hidden" name="eventid" value="@item.ID" />
                                                    <input type="hidden" name="attend" value="false" />
                                                    <input type="submit" value="Skal" />
                                                }
                                                else
                                                {
                                                    <strong>Du skal.</strong>
                                                }
                                            }
                                            <div class="tip-item">
                                                @{
                                                    var howMany = EUSH.HowManyUsersGoing(item.ID);
                                                    var showTip = "hide";
                                                    if (howMany > 0)
                                                    {
                                                        showTip = ""; // false (hide box if no users to display)
                                                    }
                                                }
                                                <span class="activator usersgoing">[@howMany skal]</span>
                                                <div class="tip usersgoing @showTip">
                                                    @foreach (var eus in Model.eventUserStats)
                                                    {
                                                        if (eus.EventID == item.ID)
                                                        {
                                                            <span class="no-linebreak">
                                                                @if (EUSH.UserAttending(item.ID, eus.UserName))
                                                                {
                                                                    <text>&#10004;</text>
                                                                }
                                                                @eus.UserName<br />
                                                            </span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        }

                                    </div>
                                </div>

                            </a>

                            <div class="horizontal-line"></div>

                                <!-- "More info" modal -->
                                <div class="content-hidden modal fade" id="@item.ID" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal header -->
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                @item.Subject.Name
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <div class="info-rows">
                                                    <span class="modal-left">
                                                        <strong>Tid</strong>
                                                    </span>
                                                    <span class="modal-right">
                                                        @item.GetDayOfWeek(), @item.GetTimeSlot()
                                                    </span>
                                                </div>
                                                <div class="info-rows">
                                                    <span class="modal-left">
                                                        <strong>Uke</strong>
                                                    </span>
                                                    <span class="modal-right">
                                                        @week.WeekNumber
                                                    </span>
                                                </div>
                                                <div class="info-rows">
                                                    <span class="modal-left">
                                                        <strong>Rom</strong>
                                                    </span>
                                                    <span class="modal-right">
                                                        @item.RoomName
                                                    </span>
                                                </div>
                                                <div class="info-rows">
                                                    <span class="modal-left">
                                                        <strong>Lærer</strong>
                                                    </span>
                                                    <span class="modal-right">
                                                        @item.Teacher
                                                    </span>
                                                </div>
                                                <div class="info-rows">
                                                    <span class="modal-left">
                                                        <strong>Kommentar</strong>
                                                    </span>
                                                    <span class="modal-right">
                                                        @item.Comment
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

					</div>
				}
			</div>
		}
    </div>
</main>