@*@model IEnumerable<TikTokCalendar.Models.CalendarEvent>*@
@*@model IEnumerable<IEnumerable<TikTokCalendar.Models.CalendarEvent>>*@
@*@model IEnumerable<TikTokCalendar.DAL.EventMonth>*@
@model TikTokCalendar.DAL.ModelDataWrapper

@{
    //ViewBag.Title = "TikTok";
    //ViewBag.Title = Model.ToString();

    TimeLeft TimeLeft = new TimeLeft();
    // Various flags to get code to be written only once and at the right place in foreach loop
    bool flag1 = false;
    bool flag2 = false;
    bool flag3 = false;
}

<!-- Hack to store posted data after pageload, can't be in separate file -->
<div id="user-name">  </div>
<div id="user-course"></div>

<script>
    @Model.user.UserName = $("#user-name").html();
    @Model.user.Course   = $("#user-course").html();
</script>

<div>
    @using (Html.BeginForm()) {
        @Html.TextBox("inputValue")
        <input value="Trykk her" type="submit" />
    }
</div>

<!-- end of hack -->

    <!-- The navbar with the tiktok logo  -->
    <header>
        <i class="fa fa-calendar-check-o"></i>
        <p>tiktok</p>

        <a class="fa fa-sign-in login-button" href="#" data-toggle="modal" data-target="#login-window">
        </a>

    </header>

    <!-- Holds global settings and spans the entire page   -->
    <main>

		<!-- "Log in" modal / Alternative login -->
		<div class="modal fade" id="login-window" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						
					</div>
					<div class="modal-body">
						<p>
							Westerdals-brukernavn:
							
						</p>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#course-selection" data-dismiss="modal">
							Neste
						</a>
						
					</div>
				</div>
			</div>
		</div>

		<!-- choose course -->
		<div class="modal fade" id="course-selection" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						Velg ditt studieprogram
					</div>
					<div class="modal-body">
						<div>
							<div class="btn-group-vertical btn-block">
								<a class="btn btn-default">2. Klasse Spillprogrammering</a>
								<a class="btn btn-default">2. Klasse Spillprogrammering</a>
								<a class="btn btn-default">2. Klasse Spillprogrammering</a>
								<a class="btn btn-default">2. Klasse Spillprogrammering</a>
								<a class="btn btn-default">2. Klasse Spillprogrammering</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <!-- tooltip hover plugin initialization -->
        <script type="text/javascript">
            jQuery(function () {
                jQuery('.activator.tip-specific-class').BAToolTip({
                    tipOpacity: 0.9,
                    tipOffset: 20
                });
            })
        </script>

        <div class="main-body">

                @foreach (var month in Model.calEvents)
                {
                    if (month.Events.Count <= 0)
                    {
                        continue;
                    }

                <!-- Displays the month name -->
					//<a class="btn btn-default" data-toggle="collapse" data-target="#@month.GetMonthId()">lukk mnd</a>

                    <a class="feed-month" data-toggle="collapse" data-target="#@month.GetMonthId()">
                        <p class="month">@month.GetMonthName()</p>  <!-- August -->
                    </a>

                    <!-- Container for an entire month of events -->
                    <div class="feed collapse in" id="@month.GetMonthId()">

                        @foreach (var item in month.Events)
                        {
                            <a class="feed-container" data-toggle="modal" data-target="#@item.ID">


                                <!-- Container for the event content -->
                                <div class="content">

                                    <!-- add this to toggle: data-toggle="collapse" data-target="#@item.ID" -->
                                    <!-- Container for the top row -->
                                    <div class="class-info">
                                        <div class="class-date">
                                            <p class="date-number">@item.StartTime.Day</p>  <!-- 17 -->
                                        </div>
                                        <!-- tooltip hover extravaganza -->
                                        <div class="tip-item">
                                            <p class="name activator tip-specific-class">@item.GetEventNameWithoutSubjectCode()</p>  <!-- "Grensesnittdesign" -->
                                            @{
                                                string timeLeft = TimeLeft.GetTimeLeft(item.StartTime);
                                            }
                                            @if (timeLeft != ""){
                                                if (flag1)
                                                {
                                                <div class="tip tip-specific-class">@timeLeft</div>
                                                }
                                                if (!flag2)
                                                {
                                                    if (item.StartTime < DateTime.Now.AddHours(24))
                                                    {
                                                        flag2 = true;
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="right-position">
                                            <p class="room">@item.RoomName</p>  <!-- "Rom 41" -->
                                        </div>
                                    </div>

                                    <!-- Container for bottom row -->
                                    <div class="time-info">
                                        <div class="left-position">
                                            <!-- Date and time  -->
                                            <p class="time"><strong>&nbsp;@item.GetDayOfWeek()</strong>, @item.GetTimeSlot()
                                            @if (flag2 && !flag3)
                                            {
                                                <!-- real time countdown script -->
                                                <script>
                                                    $(function () {
                                                        var date = new Date();
                                                        date = new Date(@item.StartTime.Year , @item.StartTime.AddMonths(-1).Month , @item.StartTime.Day , @item.StartTime.Hour , @item.StartTime.Minute , @item.StartTime.Second );
                                                        $('.countdown').countdown({until: date, compact: true,
                                                            layout: '&nbsp;{hnn}{sep}{mnn}{sep}{snn}'});
                                                    });
                                                </script>
                                                <b>&nbsp;|</b>
                                                <span class="countdown"></span>
                                                flag1 = true;
                                                flag3 = true;
                                            }
                                            </p>
                                        </div>

                                        <!-- Icon displaying "..."  -->
                                        <i class="fa fa-ellipsis-h fa-2x"></i>
                                    </div>
                                </div>

                                <div class="horizontal-line"></div>
                        </a>

						<!-- "More info" modal -->
						<div class="content-hidden modal fade" id="@item.ID" role="dialog">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										Informasjon
									</div>
									<div class="modal-body">
										<p>
											Kommentar:<br />
											@item.Comment
										</p>
									</div>
								</div>
							</div>
						</div>
						}
                 </div>
                }
         </div>
 </main>