@*@model IEnumerable<TikTokCalendar.Models.CalendarEvent>*@
@*@model IEnumerable<IEnumerable<TikTokCalendar.Models.CalendarEvent>>*@
@model IEnumerable<TikTokCalendar.DAL.EventMonth>

@{
    //ViewBag.Title = "TikTok";
    //ViewBag.Title = Model.ToString();
}

    <!-- The navbar with the tiktok logo  -->
    <header>
        <i class="fa fa-calendar-check-o"></i>
        <p>tiktok</p>

        <a class="fa fa-sign-in login-button" href="#" data-toggle="modal" data-target="#logginn-vindu">
        </a>

    </header>

    <!-- Holds global settings and spans the entire page   -->
    <main>
        <div class="main-body">
            
                @foreach (var month in Model)
                {
                    if (month.Events.Count <= 0)
                    {
                        continue;
                    }

                <!-- Displays the month name -->
                    <div class="feed-month">
                        <p class="month">@month.GetMonthName()</p>  <!-- August -->
                    </div>

                    <!-- Container for an entire month of events -->
                    <div class="feed">

                        @foreach (var item in month.Events)
                        {
                            <div class="feed-container">

                                
                                <!-- Container for the event content -->
                                <div class="content">

                                    <!-- add this to toggle: data-toggle="collapse" data-target="#@item.ID" -->
                                    <!-- Container for the top row -->
                                    <div class="class-info">
                                        <div class="class-date">
                                            <p class="date-number">@item.StartTime.Day</p>  <!-- 17 -->
                                        </div>
                                        <p class="name">@item.Subject.Name</p>  <!-- "Grensesnittdesign" -->

                                        <div class="right-position">
                                            <p class="room">@item.RoomName</p>  <!-- "Rom 41" -->
                                        </div>
                                    </div>

                                    <!-- Container for bottom row -->
                                    <div class="time-info">
                                        <div class="left-position">

                                            <!-- Date and time  -->
                                            <p class="time"><strong>&nbsp;@item.GetDayOfWeek()</strong>, @item.GetTimeSlot()</p>
                                        </div>

                                        <!-- Icon displaying "..."  -->
                                        <i class="fa fa-ellipsis-h fa-2x"></i>
                                    </div>
                                </div>

                                <div class="horizontal-line"></div>
                        </div>
                        }
                 </div>
                }
         </div>
 </main>