@*@model IEnumerable<TikTokCalendar.Models.CalendarEvent>*@
@*@model IEnumerable<IEnumerable<TikTokCalendar.Models.CalendarEvent>>*@
@*@model IEnumerable<TikTokCalendar.DAL.EventMonth>*@
@model TikTokCalendar.DAL.ModelDataWrapper

@{
    //ViewBag.Title = "TikTok";
    //ViewBag.Title = Model.ToString();

    TimeLeft TimeLeft = new TimeLeft();

}

<!-- Hack to store posted data after pageload, can't be in separate file -->
<div id="user-name">  </div>
<div id="user-course"></div>

<script>
    @Model.user.UserName = $("#user-name").html();
    @Model.user.Course   = $("#user-course").html();
</script>
<!-- end of hack -->


    <!-- The navbar with the tiktok logo  -->
    <header>
        <i class="fa fa-calendar-check-o"></i>
        <p>tiktok (User: @Model.user.UserName)</p>

        <a class="fa fa-sign-in login-button" href="#" data-toggle="modal" data-target="#logginn-vindu">
        </a>

    </header>

    <!-- Holds global settings and spans the entire page   -->
    <main>

        <!-- tooltip hover plugin initialization -->
        <script type="text/javascript">
            jQuery(function () {
                jQuery('.activator.tip-specific-class').BAToolTip({
                    tipOpacity: 0.9,
                    tipOffset: 20
                });
            })
        </script>

        <div class="main-body">
            
                @foreach (var month in Model.calEvents)
                {
                    if (month.Events.Count <= 0)
                    {
                        continue;
                    }

                <!-- Displays the month name -->
					//<a class="btn btn-default" data-toggle="collapse" data-target="#@month.GetMonthId()">lukk mnd</a>

                    <a class="feed-month" data-toggle="collapse" data-target="#@month.GetMonthId()">
                        <p class="month">@month.GetMonthName()</p>  <!-- August -->
                    </a>

                    <!-- Container for an entire month of events -->
                    <div class="feed collapse in" id="@month.GetMonthId()">

                        @foreach (var item in month.Events)
                        {
                            <div class="feed-container">

                                
                                <!-- Container for the event content -->
                                <div class="content">

                                    <!-- add this to toggle: data-toggle="collapse" data-target="#@item.ID" -->
                                    <!-- Container for the top row -->
                                    <div class="class-info">
                                        <div class="class-date">
                                            <p class="date-number">@item.StartTime.Day</p>  <!-- 17 -->
                                        </div>
                                        <!-- tooltip hover extravaganza -->
                                        <div class="tip-item">
                                            <p class="name activator tip-specific-class">@item.Subject.Name</p>  <!-- "Grensesnittdesign" -->

                                            <div class="tip tip-specific-class">@TimeLeft.GetTimeLeft(item.StartTime)</div>
                                        </div>
                                        <div class="right-position">
                                            <p class="room">@item.RoomName</p>  <!-- "Rom 41" -->
                                        </div>
                                    </div>

                                    <!-- Container for bottom row -->
                                    <div class="time-info">
                                        <div class="left-position">

                                            <!-- Date and time  -->
                                            <p class="time"><strong>&nbsp;@item.GetDayOfWeek()</strong>, @item.GetTimeSlot()</p>
                                        </div>

                                        <!-- Icon displaying "..."  -->
                                        <i class="fa fa-ellipsis-h fa-2x"></i>
                                    </div>
                                </div>

                                <div class="horizontal-line"></div>
                        </div>
                        }
                 </div>
                }
         </div>
 </main>