@using TikTokCalendar.DAL
@using TikTokCalendar.Extras
@using TikTokCalendar.Models
@model TikTokCalendar.DAL.ModelDataWrapper
@{
    var TimeLeft = new TimeLeft();
    var EUSH = new EventUserStatHandler();
    var now = DateTime.Now;

    var anchor = 1;
    if (Model.searchWords == "")
    {
        anchor = Utils.GetWeekNumberOfYear(now);
    }
}

<main class="mobile-main">

<!-- N A V B A R -->
<header class="mobile-navbar">
    <div class="mobile-navbar-container">
        <ul id="menu">
            <li>
                <a class="menu-items" href="#search">Søk</a>
            </li>
            <li>
                <a class="menu-items" href="#logout">Logg ut</a>
            </li>
            <li>
                <a class="menu-items" href="Index">Desktopversjon</a>
            </li>
        </ul>
    </div>
</header>


<!-- E V E N T -->
@foreach (var month in Model.Months)
{
    foreach (var week in month.Weeks)
    {
        foreach (var item in week.events)
        {
            <section class="mobile-content">
                <div class="mobile-content-container">
                    <div class="mobile-date-top">@item.StartDateTime.Day.ToString() @month.GetMonthName()</div>
                    <div class="mobile-content-container-inner">
                        <div class="tip-day">
                            <!-- Course name e.g. "Grensesnittdesign"-->
                            <div class="mobile-room">
                                <span>@item.RoomName</span></div>

                        </div>
                        <!-- Room name e.g. "Rom 40"-->
                        <a href="https://goo.gl/maps/aPxpk8pxvQS2">
                            <img src="~/img/maps.png" class="map-image"/>
                        </a>
                        <div class="mobile-course">@item.Subject.Name</div>

                        <!-- Format time to show double 00 if the clock is 14:00 (if not it shows 14:0) -->
                        @{
                            var startTime = "";
                            var endTime = "";
                            var whichDay = "";
                            if (item.StartDateTime.Minute == 0)
                            {
                                startTime = "00";
                            }
                            else
                            {
                                startTime = item.StartDateTime.Minute.ToString();
                            }
                            if (item.EndDateTime.Minute == 0)
                            {
                                endTime = "00";
                            }
                            else
                            {
                                endTime = item.EndDateTime.Minute.ToString();
                            }


                            if (item.StartDateTime.Date.Equals(now.Date))
                            {
                                whichDay = "i dag";
                            }
                            else
                            {
                                var shortMonthName = month.GetMonthName().Substring(0, 3);
                                whichDay = item.StartDateTime.Day + " " + shortMonthName;
                            }
                        }

                        <!-- Showing date e.g. "i dag, 10:15 - 14:00" -->
                        <div class="mobile-date">@item.StartDateTime.Hour:@startTime - @item.EndDateTime.Hour:@endTime</div>
                        <!-- TimeLeft & countdown -->
                        @{
                            var timeLeft = TimeLeft.GetTimeLeft(item.StartDateTime);
                            var lessThanAnHour = false;
                            var lessThan24 = false;
                        }
                        @if (timeLeft != "")
                        {
                            if (item.StartDateTime < now.AddHours(24))
                            {
                                if (item.StartDateTime < now.AddHours(1))
                                {
                                    lessThanAnHour = true;
                                }
                                else
                                {
                                    lessThan24 = true;
                                }
                            }
                        }
                        @if (now > item.StartDateTime && now < item.EndDateTime)
                        {
                            <b>&nbsp;&nbsp;&nbsp;</b>
                            <span class="ongoing">Pågår</span>
                        }
                        else if (lessThanAnHour)
                        {
                            <!-- real time countdown script -->
                            <script>
                                $(function() {
                                    var date = new Date();
                                    date = new Date(@item.StartDateTime.Year,
                                        @item.StartDateTime.AddMonths(-1).Month,
                                        @item.StartDateTime.Day,
                                        @item.StartDateTime.Hour,
                                        @item.StartDateTime.Minute,
                                        @item.StartDateTime.Second);
                                    $('.countdown-@item.ID')
                                        .countdown({
                                            until: date,
                                            expiryUrl: '' + window.location.href,
                                            compact: true,
                                            layout: '&nbsp;{hnn}{sep}{mnn}{sep}{snn}'
                                        });
                                });
                            </script>
                            <span class="countdown-@item.ID"></span>
                        }
                        else if (lessThan24)
                        {
                            <span class="countdown">@timeLeft</span>
                        }

                        <div class="button-container">
                            <button class="mobile-checkin pulse-button">Check in</button>
                        </div>

                        <!-- GOING -->
                        @if (Model.User.UserName != "" && Model.User.UserName != "NO NAME" && item.MainEventType == MainEventType.Forelesning)
                        {
                        using (Ajax.BeginForm("UserStatUpdate", "Home", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "going-" + item.ID,
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                            // Everything in this div is replaced by content in _UserStatUpdate.cshtml on button press
                            <div class="check-in" id="going-@item.ID">
                                @{ string pressed = ""; }
                                @if (now > item.StartDateTime && now < item.EndDateTime)
                                {
                                    if (EUSH.IsUserAttending(item.ID, Model.User.UserName))
                                    {
                                        <input type="hidden" name="eventid" value="@item.ID"/>
                                        <input type="hidden" name="attend" value="true"/>
                                        <input type="submit" value="@Resources.LocalizedText.CheckInButton" class="going-@item.ID button" />
                                    }
                                    else if (EUSH.IsUserAttending(item.ID, Model.User.UserName))
                                    {
                                        pressed = "color: #373d48"; // true
                                        <span class="user-going-status" style="@pressed">&#10004;</span>
                                    }
                                }
                                else if (now < item.StartDateTime)
                                {
                                    if (EUSH.IsUserGoing(item.ID, Model.User.UserName))
                                    {
                                        pressed = "color: #373d48";
                                        <input type="hidden" name="eventid" value="@item.ID" />
                                        <input type="hidden" name="attend" value="false" />
                                        <input type="submit" value="@Resources.LocalizedText.NotAttendingButton" class="going-@item.ID button not" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="eventid" value="@item.ID" />
                                        <input type="hidden" name="attend" value="false" />
                                        <input type="submit" value="@Resources.LocalizedText.AttendingButton" class="going-@item.ID button" />
                                    }
                                }
                                <div class="tip-day">
                                    @{  var howMany = EUSH.GetUsersGoing(item.ID);
                                        var showTip = "hide";
                                        if (howMany > 0)
                                        {
                                            showTip = ""; // false
                                        }
                                    }
                                    <span class="activator usersgoing event-id-@item.ID" style="@pressed">
                                        <span class="users-going" style="@pressed">
                                            @howMany
                                            @if (now < item.EndDateTime)
                                            {
                                                <text>@Resources.LocalizedText.XIsAttendingLabel</text>
                                            }
                                            else
                                            {
                                                <text>@Resources.LocalizedText.XDidAttendLabel</text>
                                            }
                                        </span>
                                    </span>
                                    <div class="tip usersgoing @showTip">
                                        <b class="tip-checkin no-linebreak">@EUSH.GetUsersAttending(item.ID)/@howMany @Resources.LocalizedText.XIsAttendingLabel</b>
                                        @{ var names = 0; }
                                        @foreach (var eus in Model.eventUserStats)
                                        {
                                            if (eus.EventID == item.ID)
                                            {
                                                <span class="no-linebreak">
                                                    @if (EUSH.IsUserAttending(item.ID, eus.UserName))
                                                    {
                                                        <text>&#10004;</text>
                                                    }
                                                    @if (eus.UserName == Model.User.UserName)
                                                    {
                                                        <b>@eus.UserName<br /></b>
                                                    }
                                                    else
                                                    {
                                                        @eus.UserName<br />
                                                    }
                                                </span>
                                                names++;
                                            }
                                            if (names >= 24)
                                            {
                                                <b class="tip-others no-linebreak">@Resources.LocalizedText.AndX @(howMany - names) @Resources.LocalizedText.XOthers</b>
                                                break;
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    </div>
                </div>
            </section>
        }
    }
}

<!-- E V E N T -->
<section class="mobile-content">
    <div class="mobile-content-container">
        <div class="mobile-content-container-inner">
            <div class="mobile-course">Introduksjon til Intelligente systemer</div>
            <div class="mobile-room">
                <span>Auditoriet</span></div>
            <div class="mobile-date">i dag, 10:15 - 14:00</div>
            <div class="button-container">
                <button class="mobile-checkin pulse-button">Check in</button>
            </div>
        </div>
    </div>
</section>


<div id="bottom-fade"></div>

</main>