@model TikTokCalendar.DAL.ModelDataWrapper


<main class="mobile-main">

    <!-- N A V B A R -->
    <header class="mobile-navbar">
        <div class="mobile-navbar-container">
            <div class="mobile-navbar-logo"></div>
                <div class="mobile-navbar-menu"><i class="fa fa-bars fa-2x"></i></div>
        </div>
    </header>


    <!-- E V E N T -->
@foreach (var month in Model.Months)
{
    foreach (var week in month.Weeks)
    {
        foreach (var day in week.events)
        {
        <section class="mobile-content">
            <div class="mobile-content-container">
                <div class="mobile-date-top">@day.StartDateTime.Day.ToString() @month.GetMonthName()</div>
                <div class="mobile-content-container-inner">
                    <div class="mobile-course">@day.Subject.Name</div>              <!-- Course name e.g. "Grensesnittdesign"-->
                    <div class="mobile-room"><span>@day.RoomName</span></div>       <!-- Room   name e.g. "Rom 40"-->

                    <!-- Format time to show double 00 if the clock is 14:00 (if not it shows 14:0) -->
                    @{  var startTime = "";
                        var endTime   = "";
                        var whichDay  = "";
                        if (@day.StartDateTime.Minute == 0)
                        {
                            startTime = "00";
                        }
                        else {
                            startTime = @day.StartDateTime.Minute.ToString();
                        }
                        if (@day.EndDateTime.Minute == 0)
                        {
                            endTime = "00";
                        }
                        else {
                            endTime = @day.EndDateTime.Minute.ToString();
                        }


                        if (day.StartDateTime.Date.Equals(DateTime.Now.Date))
                        {
                            whichDay = "i dag";
                        }
                        else
                        {
                            var shortMonthName = @month.GetMonthName().Substring(0, 3);
                            whichDay = @day.StartDateTime.Day.ToString() + " " + shortMonthName;
                        }
                    }

                    <!-- Showing date e.g. "i dag, 10:15 - 14:00" -->
                    <div class="mobile-date">@day.StartDateTime.Hour:@startTime - @day.EndDateTime.Hour:@endTime</div>
                    <div class="button-container">
                        <button class="mobile-checkin pulse-button">Check in</button>
                    </div>
                </div>
            </div>
        </section>
        }
    }
}

    <!-- E V E N T -->
    <section class="mobile-content">
        <div class="mobile-content-container">
            <div class="mobile-content-container-inner">
                <div class="mobile-course">Introduksjon til Intelligente systemer</div>
                <div class="mobile-room"><span>Auditoriet</span></div>
                <div class="mobile-date">i dag, 10:15 - 14:00</div>
                <div class="button-container">
                    <button class="mobile-checkin pulse-button">Check in</button>
                </div>
            </div>
        </div>
    </section>



    <div id="bottom-fade"></div>

</main>
