<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <title>@ViewBag.Title - tiktok</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/main.css")">
	<link rel="stylesheet" href="@Url.Content("/Content/bs-modal.css")">
    <link rel="stylesheet" href= "@Url.Content("/Content/reset.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/mobile.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/modal.css")">
    <script src="../Scripts/vex/vex.combined.min.js"></script>
    <script src="../Scripts/modal.js"></script>
    <script src="../Scripts/script.js"></script>
	<script src="../Scripts/showInfo.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-default';</script>
    <link rel="stylesheet" href= "@Url.Content("/Content/vex/vex.css")" />
    <link rel="stylesheet" href= "@Url.Content("/Content/vex/vex-theme-default.css")" />
    @Scripts.Render("~/bundles/jquery")


</head>
<body onload="checkLogin()">

    <script>
        $(function () {
            $('#tags').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete")',
                        dataType: "json",
                        contentType: 'application/json, charset=utf-8',
                        data: {
                            search: $("#tags").val()
                        },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item
                                };
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>

	<!-- The navbar with the tiktok logo  -->
	<header class="header-desktop">
		<div class="header-content">
            <div class="left-1">
                <a href="/" class="logo">
                    <i class="fa fa-calendar-check-o"></i>
                </a>
            </div>

            <div class="left-2">
                <div class="ui-widget">
                    <label for="tags"></label>

                    @using (Html.BeginForm("Index", "Home"))
                    {
                        <input id="tags" name="tags" type="text" class="search-box" placeholder="Søk" />}

                </div>
            </div>
                
            <div class="right-2">
                <p>Adam Habes <i class="fa fa-user fa-2x"></i></p>
            </div>

                <!-- Search box -->
                <div class="right-1">
                    <a title="DEBUG: logout / delete cookies" onclick="delCookie()" class="logout"><p>Logg ut </p><i class="fa fa-sign-out fa-2x"></i></a>
                </div>




                @*<button onclick="delCookie()">Delete cookies</button>*@
                <script>
                    function delCookie() {
                        $.ajax({
                            url: "/Home/DeleteCookies",
                            type: "POST",
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                window.location.reload();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log("Feil ved sletting av cookies [delCookies()]");
                            }
                        });
                    }
                </script>


            </div>
	</header>
	
    @RenderBody()

	<footer class="footer">
		
	</footer>

    @Scripts.Render("~/bundles/textfill")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tooltip")
    @Scripts.Render("~/bundles/countdown")
    @RenderSection("scripts", required: false)

</body>
</html>
