<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <title>@ViewBag.Title - tiktok</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/main.css")">
    <link rel="stylesheet" href= "@Url.Content("/Content/reset.css")">
    <script src="../Scripts/vex/vex.combined.min.js"></script>
    <script src="../Scripts/modal.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    <link rel="stylesheet" href= "@Url.Content("/Content/vex/vex.css")" />
    <link rel="stylesheet" href= "@Url.Content("/Content/vex/vex-theme-os.css")" />

</head>
<body onload="showLogin()">
	<!-- The navbar with the tiktok logo  -->
	<header>
		<div class="header-content">
			<i class="fa fa-calendar-check-o"></i>
			<p>tiktok</p>

			<a class="fa fa-sign-in login-button" href="#" onclick="showLogin()"></a>

			<!-- Temp. search box -->
			<input class="search-box" type="text" name="search-box" />
		</div>
	</header>
	
    @RenderBody()

	<footer class="footer">
		<p>&copy; 2015 - Gruppe 15</p>
	</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tooltip")
    @Scripts.Render("~/bundles/countdown")
    @RenderSection("scripts", required: false)

</body>
</html>
