@model TikTokCalendar.DAL.ModelDataWrapper
@{
    TikTokCalendar.DAL.Cookies cookie = new TikTokCalendar.DAL.Cookies();

    var userName = "John Doe";

    if (cookie.LoadStringFromCookie("UserName") != null) {
        userName = cookie.LoadStringFromCookie("UserName");
    }

    int eventCount = Model.GetEventCount();
    string searchLine = "";
    if (Model.searchWords != "")
    {
        searchLine = "border-left: 1px solid #c6cedb;";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <title>@ViewBag.Title - tiktok</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/main.css")">
	<link rel="stylesheet" href="@Url.Content("/Content/bs-modal.css")">
    <link rel="stylesheet" href= "@Url.Content("/Content/reset.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/mobile.css")">
    <link rel="stylesheet" href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.5.5/slicknav.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/modal.css")">
    <link rel="stylesheet" href= "@Url.Content("/Content/vex/vex.css")" />
    <link rel="stylesheet" href= "@Url.Content("/Content/vex/vex-theme-default.css")" />

    @Scripts.Render("~/bundles/random") <!-- lookup: BundleConfig.cs -->
    <script>vex.defaultOptions.className = 'vex-theme-default';</script>

    @Scripts.Render("~/bundles/jquery")
</head>
<body onload="checkLogin()">

    <script>
        $(function () {
            $('#tags').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete")',
                        dataType: "json",
                        contentType: 'application/json, charset=utf-8',
                        data: {
                            search: $("#tags").val()
                        },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item
                                };
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>

	<!-- The navbar with the tiktok logo  -->
	<header class="header-desktop">
		<div class="header-content">
            <div class="left-1">
                <a href="/" class="logo">
                    <i class="fa fa-calendar-check-o"></i>
                </a>
            </div>

            <div class="left-2">
                <div class="ui-widget">
                    <label for="tags"></label>

                    @using (Html.BeginForm("Index", "Home")) {
                        <input id="tags" name="tags" type="text" class="search-box" placeholder="Søk" value="@Model.searchWords" />}
                </div>
            </div>

            <span class="results" style="@searchLine">
                @if (Model.searchWords != "")
                {
                    if (eventCount > 1)
                    {
                        <span>@eventCount hendelser funnet</span>
                    }
                    else if (eventCount > 0)
                    {
                        <span>Én hendelse funnet</span>
                    }
                    else
                    {
                        <span>Ingen resultater</span>
                    }
                }
            </span>

            <div class="right-2">
				
				@if (userName != "John Doe") {
				    <div class="right-1">
					    <a title="DEBUG: logout / delete cookies" onclick="delCookie()" class="logout"><p>Logg ut @userName</p><i class="fa fa-sign-out fa-2x"></i></a>
				    </div>
				}
				else {
					<p>
                        <a onclick="showLogin()" class="logout"><span>Logg inn </span><i class="fa fa-sign-in fa-2x"></i></a></p>
				}
            </div>
            

                @*<button onclick="delCookie()">Delete cookies</button>*@
                <script>
                    function delCookie() {
                        $.ajax({
                            url: "/Home/DeleteCookies",
                            type: "POST",
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                window.location.reload();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log("Feil ved sletting av cookies [delCookies()]");
                            }
                        });
                    }
                </script>


            </div>
	</header>
	
    @RenderBody()

	<footer class="footer">
		
	</footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.5.5/jquery.slicknav.min.js"></script>
    @Scripts.Render("~/bundles/showinfo")
    @Scripts.Render("~/bundles/script")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tooltip")
    @Scripts.Render("~/bundles/countdown")
    @RenderSection("scripts", required: false)

</body>
</html>
