@model TikTokCalendar.Models.Account

@if (Request.IsAuthenticated) {
    <strong>@Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Sign Out","Logout","User")
}
else {
    <div id="logginn-vindu" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Logg inn</strong>
                </div>
                <div class="modal-body">
                    <!--<form class="" role="form">-->
						@using (Html.BeginForm()) {
							@Html.ValidationSummary(true, "Login failed. Check your login details.");
							<div>
								<fieldset>
									<legend>Login</legend>
									<div class="editor-label">
										@Html.LabelFor(u => u.UserName)
									</div>
									<div class="editor-field">
										@Html.TextBoxFor(u => u.UserName)
										@Html.ValidationMessageFor(u => u.UserName)
									</div>
									<div class="editor-label">
										@Html.LabelFor(u => u.Password)
									</div>
									<div class="editor-field">
										@Html.PasswordFor(u => u.Password)
										@Html.ValidationMessageFor(u => u.Password)
									</div>
									<div class="editor-label">
										@Html.CheckBoxFor(u => u.RememberMe)
										@Html.LabelFor(u => u.RememberMe)
									</div>
									<input type="submit" value="Log In" />
								</fieldset>
							</div>
						}

                        @*@Html.ActionLink("Sign In","Login","User")*@
                        @*
                            <div class="form-group">
                                <label for="email">E-post:</label>
                                <input type="email" class="form-control" id="epost">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Passord:</label>
                                <input type="password" class="form-control" id="passord">
                            </div>
                            <button type="submit" class="btn btn-default">Logg inn</button>
                        *@
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
}

@*
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated) {
        using (Html.BeginForm("LogOff","Account",FormMethod.Post,new { id = "logoutForm",@class = "navbar-right" })) {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!","Index","Manage",routeValues: null,htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register","Register","Account",routeValues: null,htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in","Login","Account",routeValues: null,htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
*@
